/* CSS Document */
div#bandeau {
        background-image: url(img/top-1px.jpg);
        background-repeat: repeat;
        padding: 0;
	width:100%;
	height:80px;
	}
div#contenu {
	width:80%;
	height:700px;
        float:left;
	}
div#menu {
	float:left;
	width:20%;
	height:700px;
	}