<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <!--VINCENT DESTAILLEUR -->
    <!--Servlet-->
    <servlet>
        <servlet-name>CtrSearch</servlet-name>
        <servlet-class>servlet.networkdevices.CtrSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrSearch</servlet-name>
        <url-pattern>/CtrSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CtrCart</servlet-name>
        <servlet-class>servlet.networkdevices.CtrCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrCart</servlet-name>
        <url-pattern>/CtrCart</url-pattern>
    </servlet-mapping>
    <!--Servlet-->
    <!--JSP-->
    <servlet>
        <servlet-name>DisplayItems.jsp</servlet-name>
        <jsp-file>/networkDevices/ViewCart/DisplayItems.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayItems.jsp</servlet-name>
        <url-pattern>/DisplayItems.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Search.jsp</servlet-name>
        <jsp-file>/networkDevices/ViewCart/Search.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search.jsp</servlet-name>
        <url-pattern>/Search.jsp</url-pattern>
    </servlet-mapping>    
    <!--JSP-->
    
    
    <!--VINCENT DESTAILLEUR -->
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>servlet.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enregContactInfo</servlet-name>
        <servlet-class>servlet.enregContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showContactInfo</servlet-name>
        <servlet-class>servlet.showContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVoipLigne</servlet-name>
        <servlet-class>servlet.voip.addVoipLigne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doVoipLigne</servlet-name>
        <servlet-class>servlet.voip.doVoipLigne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doVoipUser</servlet-name>
        <servlet-class>servlet.voip.doVoipUser</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>modContactInfo</servlet-name>
        <servlet-class>servlet.modContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprContactInfo</servlet-name>
        <servlet-class>servlet.supprContactInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enregContactInfo</servlet-name>
        <url-pattern>/enregContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showContactInfo</servlet-name>
        <url-pattern>/showContactInfo</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>supprContactInfo</servlet-name>
        <url-pattern>/supprContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modContactInfo</servlet-name>
        <url-pattern>/modContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/authentification/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVoipLigne</servlet-name>
        <url-pattern>/addVoipLigne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doVoipLigne</servlet-name>
        <url-pattern>/doVoipLigne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doVoipUser</servlet-name>
        <url-pattern>/doVoipUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>web security</web-resource-name>
            <description>redirect all to ssl</description>
            <url-pattern>/authentification/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description>Protection CONFIDENTIAL</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>redneck</realm-name>
    </login-config>
</web-app>
